
<div class="container-fluid">
    <h3>Lista De Peliculas</h3>
</div>

<div class="col-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Sinopsis</th>
                <th>Genero</th>
                <th>Director</th>
                <th>Actores</th>
                <th>Fecha_estreno</th>
                <th>Duracion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let v of peliculas">
                <td>{{ v.titulo }}</td>
                <td>{{ v.sinopsis }}</td>
                <td>{{ v.genero }}</td>
                <td>{{ v.director }}</td>
                <td>{{ v.actores }}</td>
                <td>{{ v.fecha_estreno }}</td>
                <td>{{ v.duracion }}</td>

                <td><button type="button" class="btn btn-primary" (click)="onEditarNavigate(v.id)" title="Editar">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>
